<!doctype html>
<html lang="en">
  <head>
    <title>Google Maps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body>
    <div>
     {{{body}}}
    </div>
  </body>
</html>