.spotInfo {
  height: auto;
  position: absolute;
  top: -280px;
  left: -100px;
  width: 200px;
  background: #fff;
  color: #8e8d8d;
  max-width: 200px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  transition: transform 0.1s ease-in-out;
  transform: scaleY(0)
}

.spotInfo::before {
  background-color: #fff;
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  bottom: 0;
  left: 50%;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
  transform: translate(-50%, 50%) rotate(45deg);
}

.spotInfo.entering {
  transform: scaleY(0)
}
.spotInfo.entered {
  transform: scaleY(1);
  z-index: 3;
}
.slide {
  width: 200px;
}
.info{
  padding: 5px;
}
.close {
  position: absolute;
  right: 1px;
  font-size: 15px;
  background: #fff;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
}
.area {
  display: block;
  padding: 5px 5px;
}
.name {
  font-size: 20px;
}
.rates {
  display: flex;
}
.stars {
  align-self: flex-end;
  width: 100%;
  font-size: 12px;
}
.fa-star{
  align-self: baseline;
  font-size: 10px;
  padding-left: 3px;
  color: #e6c149;
}

.dificulty {
  align-self: flex-end;
  font-size: 20px;
}

.fa-signal.easy {
  color: #008000;
}
.fa-signal.medium {
  color: #fff008;
}
.fa-signal.dificult {
  color: #ff9508;
}
.fa-signal.extreme {
  color: #ff0000;
}
