.spotLabel {
  opacity: 0;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background: #ADB6BB;
  border-radius: 5px;
  border: solid 2px #fff;
  padding: 5px 5px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -100%);
  transition: opacity 0.5s ease-in-out;
}

.spotLabel.entering {
  opacity: 0;
}

.spotLabel.entered {
  opacity: 1;
}

.spotLabel.onover {
  background: #45525D;
}

.spotLabel::before {
  background-color: #ADB6BB;
  content: "";
  border-bottom: solid 2px;
  border-right: solid 2px;
  position: absolute;
  width: 7px;
  height: 7px;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
}
.spotLabel.onover::before {
  background-color:#45525D;
}

.spotLabel .area {
  padding: 0 5px;
}

.spotLabel .stars {
  display: flex;
  align-items: baseline;
  color: #fff44e
}

.spotLabel .fa-signal.easy {
  color: #008000;
}
.spotLabel .fa-signal.medium {
  color: #fff008;
}
.spotLabel .fa-signal.dificult {
  color: #ff9508;
}
.spotLabel .fa-signal.extreme {
  color: #ff0000;
}